$fontSize: 20px;
$firstColor: rgba(28, 28, 199, 0.822) ;
$secondColor: rgba(70, 173, 241, 0.767);
$thirthColor: rgb(8, 8, 151);
$screenWidth: 100vw;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: $fontSize;
    width: $screenWidth;
    font-family: Arial, Helvetica, sans-serif;
}

//---------------------Header-----------------------
.header {
    position: relative;
    background-color: $firstColor;
    height: 160px;
    max-width: 100%;

    .logo {
        float: left;
        width: 124px;
        height: 124px;
        border-radius: 50%;
        margin: 15px 30px;
    }

    .title {
        display: inline-block;
        line-height: 160px;
        margin-left: 180px;
        font-size: 150%;
        font-weight: 700;
        color: white;
    }

    .register {
        float: right;
        color: white;
        font-weight: 500;
        margin-top: 50px;
        margin-right: 70px;

        .icon {
            font-size: 180%;
            display: inline;
            
        }
        
        &:hover {
            cursor: pointer;
            border-bottom: 4px solid rgba(255, 255, 255, 0.719);
        }
    }

    .lang-convert {
        position: absolute;
        right: 70px;
        top: 110px;
        #vi, #en {
            background-color: transparent;
            color: white;
            font-weight: 600;
            border: none;
            border-bottom: 1px solid white;
            padding: 0;

            &:hover {
                color: rgb(139, 138, 138);
                cursor: pointer;
            }
        }
    }
}

//-----------------------------Navigation-----------------------------
.navigation {
    padding-top: 5px;
    width: 20%;
    float: left;
    min-height: 550px;
    background-color: $secondColor;
    ul {
        list-style: none;
        li {
            padding: 10px 40px;  
            color: white;
            font-weight: 600;
            &:hover {
                cursor: pointer;
                background-color: $firstColor;
            }
        }
    }

    .selected {
        background-color: $thirthColor;
    }

    .open {
        visibility: hidden;
    }
}

//--------------------------Content---------------------------------------
.content {
    float: left;
    width: 80%;
    margin-top: 20px;
    padding-left: 30px;
    position: relative;

    $marginLeft: 30px;
    #location {
        position: absolute;
        left: $marginLeft;
        top: 20px;
    }

    #time {
        position: absolute;
        left: 300px;
        top: 20px;
    }

    #length {
        position: absolute;
        top: 60px;
        left: $marginLeft;
    }

    #pressure {
        position: absolute;
        top: 100px;
        left: $marginLeft;
    }

    #clo-concentration {
        position: absolute;
        top: 140px;
        left: $marginLeft;
    }

    #clo-pour-history {
        position: absolute;
        top: 180px;
        left: $marginLeft;

        table {
            margin-top: 20px;
            border: 2px solid black;
            
            #title {
                th {
                    background-color: $firstColor;
                    padding: 5px;
                    width: 250px;
                }
            }

            #content {
                th {
                    background-color: $secondColor;
                    padding: 5px;
                }
            }
        
        }

        #add-history {
            position: absolute;
            top: 0px;
            left: $marginLeft+700px;
            button {
                width: 25px;
                height: 25px;
                font-size: 100%;
                border-radius: 50%;
                border: 2px solid black;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    box-shadow: 0px 2px 3px black;
                }
            }
        }
    }
}

//-------------------------Repsponsive----------------------------------------
@media screen and (max-width: 1080px){
    .header {
        .title {
            margin-left: 60px;
        }
    }
}

@media screen and (max-width: 800px){
    .header {
        .title {
            font-size: 110%;
            margin-left: 10px;
        }
    }

    .content {
        #clo-pour-history {
            #add-history {
                left: 90%;
            }
        }
    }
}

@media screen and( max-width: 480px) {
    body {
        position: relative;
    }
    .header {
        width: 100vw;
        .logo {
            width: 80px;
            height: 80px;
        }

        .register {
            position: absolute;
            margin: 0;
            top: 30px;
            right: 30px;
        }

        .title {
            line-height: 50px;
            font-size: 110%;
            margin: 0;
            position: absolute;
            left: 12px;
            top: 100px;
        }

        .lang-convert {
            top: 76px;
            right: 36px;
        }
    }

    .navigation {
        width: 100%;
        margin-left: -420px;
        z-index: 999;

        .open {
            position: absolute;
            top: 400px;
            left: 0;
            font-size: 180%;
            color: rgba(0, 0, 0, 0.363);
            visibility: visible;
        }
        .close {
            position: absolute;
            top: 400px;
            right: 0;
            font-size: 180%;
            color: rgba(0, 0, 0, 0.363);
        }
    }

    .content {
        z-index: 1;
        #location {
            top:0;    
        }

        #time {
            top: 30px;
            left: 30px;
        }

        #clo-pour-history {
            #add-history {
                left: 240px;
            }
        }
    }
}

@media (max-width: 324px) {
    .header {
        .title {
            display: none;
        }
    }
}
