*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 20px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.login-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: 999;
}

.login-form{
    width: 500px;
    background-color: white;
    margin: 10px auto;
    border-radius: 10px;
    height: 550px;
    position: relative;
    border: 1px solid blue;
}

.login-logo{
    width: 100px;
    display: block;
    border-radius: 50%;
    margin: 30px auto;
    border: 1px solid blue;
}

.login-logo-label{
    text-align: center;
    font-size: 150%;
    font-weight: 700;
}

.form-input{
    margin-top: 60px;
    margin-left: 40px;
}

.input-icon{
    position: absolute;
    left: 28px;
    margin-top: 5px;
    font-size: 32px;
    color: rgb(65, 63, 61);
}

.username,.password{
    display: block;
    margin: 40px auto ;
    height: 40px;
    width: 400px;
    border-radius: 7px;
    padding-left: 20px;
    letter-spacing: 2px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(3, 3, 82, 0.329);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.37);
}

.username:hover ,
.password:hover,
.username:focus ,
.password:focus{
    background-color: rgba(3, 3, 82, 0.932);
    border: 1px solid white;
}

.submit-btn{
    position: absolute;
    bottom: 26px;
    left: 75px;
    width: 360px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: rgba(37, 40, 223, 0.795);
    color: white;
    font-size: 100%;
    font-weight: 600;
    border: none;
}

.submit-btn:hover, 
.submit-btn:active{
    background-color: rgba(14, 17, 233, 0.89);
    cursor: pointer;
    border: 2px solid black;
}

.false-warming{
    margin-top: -20px;
    color: red;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .login-form {
        width: 94vw;
    }

    .login-logo-label {
        margin: 0;
        text-align: center;
     }

    .username,.password {
        width: 80%;
    }

    .submit-btn {
        padding: 10px 0;
        width: 60%;
        bottom: 26px;
    }
}